body{
    background-color:#1f1f1f;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

.topo{
    background-color:#181818;
    color: white;
    
    display: flex;
    
    /*
    */

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*
#topo{
    text-align: center;
}
*/

.topo a{
    color: white;
    text-decoration: none;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar a{
    padding: 10px;

}

.navbar a:hover{
    background-color: #1f1f1f;
    border-radius: 5px;
}

